body{
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Caixa branca que separa do fundo */
.container{
    margin: 2% auto;
    width: 80%;
    text-align: left;
    background: #ffffff;
    border: 1px solid black;
}

/* Faixa de menus */
.mainav{
    background-color: rgb(245, 184, 224);
    color: rgb(14, 13, 13);
    padding: 0 1%;
    margin-bottom: 2%;
    margin-top: 8%;
}

/* Faixa de menus */
.mainav li{
    display: inline;
    padding: 0 1%;
    margin-left: 7%;
}

/* Faixa de menus */
.mainav li a{
    text-decoration: none;
    color:rgb(75, 11, 36);
    font-size: 16px;
}

/* Faixa de menus */
.mainav li a:hover{
    text-decoration: none;
    color:rgb(247, 243, 243);
    font-size: 16px;
    background-color: rgb(160, 146, 127);
}

/* Texto do Home */
.contents{
    float: left;
    width:65%;
    margin: 0 0 0 3%;
}

/* Texto do Home */
.contents p{
    font-size: 17px;
    text-align: justify;
}

/* Produzido por... */
.footer{
    clear: both;
    color:rgb(92, 45, 76);
    text-align: right;
    font-size: 10px;
    padding: 5%;
    font-weight: bold;
}

/* Logo */
.logo{
    margin-top: -4%;
    width: 20%;
    height: 10%;
    float: left;
}

/* Previsão do Tempo */
.menul{
    float: right;
    margin-right: 3%;
    margin-top: 7%;
}

/* Carrossel */
.carrossel {
    display: inline-block;
    margin-top: 20%;
    padding: 1%;
    border-radius: 1em;
    background-color: rgb(236, 167, 214);
  }

  /* Tamanho do Carrossel */
  img {
    width: 100px;
    height: 100px;
    border-radius: 10em;
  }

/* Mapa */
  .mapa{
      margin-top: 3%;
      margin-left: 100%;
  }

  /* Contato */
  .contents table{
      margin-left: 26%;
      text-align: center;
  }

  /* Contato */
  .zap{
      margin-left: 50%;
      width: 50px;
      height: 50px;
  }

  /* Galeria */
  figure.imagem{
      display: inline-block;
      margin-left: 1%;
      padding: 1%;
      border-radius: 1px;
      background: #ffffff;
      text-align: center;
  }

  /* Galeria */
  figcaption,a{
      font-size: 17px;
      text-decoration: none;
      color: black;
  }

  figure.imagem:hover{
      background: #c0c0c0c0;
  }
  /* Fale Conosco */
  .grupo{
      font-family: Arial, Helvetica, sans-serif; 
      font-size: 16px;
      margin-top: 2%;
      margin-left: 5%;
      padding: 2%;
    
    }